<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join {{guild_name}}</title>
  {{> default}}
  <link rel="stylesheet" href="/public/css/one_modal_page.css">
  <script src="/public/js/pages/view_invite.js" type="module"></script>
</head>
<body class="apply-background">
  <div class="modal-container">
    <div class="modal big-modal">
      <img class="modal-icon" src="{{guild_image}}">
      <label class="modal-title">{{guild_name}}</label>
      <p>You've been invited to <b>{{guild_name}}</b>! What do you do?</p>
      <div class="side-by-side">
        <button onclick="location.href='/'" class="jumbo" id="back">Go home</button>
        <button class="jumbo" id="join">Join!</button>
      </div>
    </div>
  </div>
  <label style="display: none;" id="invite_code">{{invite_code}}</label>
  <label style="display: none;" id="guild_id">{{guild_id}}</label>
</body>
</html>